td {
	text-align:right;
}
th {
	text-align:left;
	line-height: 18px;
	font-weight: normal;
}

.mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    color: #ea5e30;
    border: 1px solid #EA5E30;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
	background-color: #ea5e30;
	color:white;
}
.mat-raised-button.mat-primary:disabled {
	background-color: gainsboro;
	color:#a8a8a8;
}
.mat-raised-button {
    min-width: 64px;
    line-height: 20px;
    padding: 7px 8px 5px 5px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
}

.mat-card {
    box-shadow: none;
    background: #F8F8F8;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color: #ea5e30;
    background-color: #fff;
    border: 1px solid #ea5e30 !important;
}  
.total_restaltado {
	margin-top: 50px !important;
	font-size:14pt;
	background-color: #ea5e30;
	color: whitesmoke;
	padding: 5px;
}